* {
  padding: 0;
  margin: 0;
}

html {
  color-scheme: dark light;
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100svh;
  display: flex;
  flex-direction: column;

  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

summary {
  cursor: pointer;
  user-select: none;
}

button {
  line-height: 1;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  line-height: 1;
  padding: 0.25rem 0.5rem;

  text-decoration: none;
  color: currentColor;

  border: 1px solid currentColor;
  border-radius: 0.25rem;

  cursor: pointer;

  &.active {
    background: light-dark(black, white);
    border-color: light-dark(black, white);
    color: light-dark(white, black);
  }
}

input {
  padding: 0.15rem 0.5rem;
  border-radius: 0.25rem;
  border-width: 0px;
  background: light-dark(#eee, #111);
}

td,
th {
  padding: 0.25rem 0.5rem;
}

header {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid currentColor;
}

.headerBar {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.sessionInfo {
  flex: 1;
  display: flex;
  justify-content: end;
}

nav {
  padding-bottom: 0.5rem;

  & ul {
    list-style: none;
    display: flex;
    gap: 0.5rem;

    & a {
      text-decoration: none;
    }

    & p {
      user-select: none;
    }
  }
}

.logo,
.logo * {
  text-decoration: none;
  user-select: none;
  color: currentColor;
  font-size: 2.5rem;
}

.card {
  border: 1px solid #3e3a32;
  background: #1c1c1c;
  border-radius: 0.25rem;
}
