* {
  padding: 0;
  margin: 0;
}

html {
  color-scheme: dark light;
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100svh;
  display: flex;
  flex-direction: column;

  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

summary {
  cursor: pointer;
  user-select: none;
}

button {
  line-height: 1;
}

input {
  padding: 0.1rem 0.5rem;
}

.card {
  border: 1px solid #3e3a32;
  background: #1c1c1c;
  border-radius: 0.25rem;
}
