{% extends 'layouts/page.html' %}

{% block head %}
  <style>
    .content {
      padding: .5rem;
      display: flex;
      flex-direction: column;
      gap: .5rem;
    }

    .content-nav {
      display: flex;
      align-items: center;
      gap: .5rem;
    }

    .filters {
      padding-inline: .5rem;
    }

    .recipes {
      display: grid;
      --item-width: min(300px, 95vw);
      grid-template-columns: repeat(auto-fit, var(--item-width));
      gap: .5rem;
      padding: .5rem;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="content">
    <div class="content-nav">
      <h1 class="subtitle">{% block title %}{{ recipe.name }}{% endblock %}</h1>
      {% if own %}
        <a href="/recipes/{{ recipe.slug }}/edit">Edit</a>
      {% endif %}
    </div>
    <div class="">
      <h2>Ingredients</h2>
      {% if recipe.ingredients %}
        <table class="card">
          <thead>
            <tr>
              <th>amount</th>
              <th>name</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          {% for ingredient in recipe.ingredients %}
            <tr>
              <td>{{ ingredient.amount }}</td>
              <td>{{ ingredient.name }}</td>
              <td>
                {% if ingredient.recipe_link %}
                    <a href="{{ ingredient.recipe_link }}">recipe</a>
                {% endif %}
              </td>
              <td>
                {% if ingredient.extra_info %}
                    <span>{{ ingredient.extra_info }}</span>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% endif %}
      <h2>Steps</h2>
      {% if recipe.steps %}
        <ol>
          {% for step in recipe.steps %}
            <li>
              {% if step.details %}
              <details>
                <summary>
                  <h2>{{ step.summary }}</h2>
                </summary>
                <div>
                  {{ step.details }}
                </div>
              </details>
              {% else %}
                <h2>{{ step.summary }}</h2>
              {% endif %}
            </li>
          {% endfor %}
        </ol>
      {% endif %}
    </div>
  </div>
{% endblock %}
<!-- vim: set filetype=htmldjango: -->
